.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 30px;
}

.modal {
  background: #444;
  color: #ddd;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow-y: auto;
  max-height: 90vh;
  margin: 0 auto;
  animation: popUp 0.3s ease-out forwards;
}

.title {
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  color: #ddd;
  font-size: 1.5rem;
  cursor: pointer;
}

.content {
  margin-top: 20px;
}

.content ol {
  padding-left: 20px;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.content li {
  padding-left: 10px;
}

.giveawayList {
  list-style: none;
  padding: 0;
}

.giveawayItem {
  margin-bottom: 10px;
}

.iconButton {
  background: none;
  border: none;
  color: #ddd;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 0;
  transition: color 0.3s;
  display: inline-flex;
  align-items: center;
}

.iconButton i {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  display: block;
}

.iconButton:hover {
  color: #fff;
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popDown {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

.modalClosing {
  animation: popDown 0.3s ease-out forwards;
}

@media (max-width: 200px) {
  .modal {
    padding: 15px;
    max-width: 100%;
    border-radius: 8px;
  }

  .title {
    font-size: 1rem;
  }

  .closeButton {
    font-size: 1.25rem;
  }
}
